*{
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
    
    
}
body{
    display: flex;
    align-items: center;
    
}
.container{
    height: 45vh;
    width: 70vh;
    border: 2px solid black;
    padding-left:10px  ;
    padding-top: 10px;
    
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
   

}
#upper{
    display: flex;
    gap: 20px;
}
 .logo{
    height: 80px;
    width: 80px;
    
    margin-left: 5px;
    margin-top: 5px;
    background-image:url("college_logo.png");
    background-size: cover;
    background-repeat: no-repeat;


}
.photo{
    height: 90px;
    width: 400px;

    background:linear-gradient(to right, rgb(175, 65, 197))bottom / 100% 15px no-repeat;
    background-color:  rgb(155, 39, 136);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    
   
}
.photo,H2{
    text-align: center;
    font-size: 1.9rem;
    color:white;
    font-weight:1000;
   
}
/* .name{
    background-color: rgb(175, 65, 197);   
} */

.photo,p{
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
}
.barcode{
    height: 180px;
    width:400px;
    
    /* /* background:linear-gradient(to right, rgb(196, 88, 215))bottom / 100% 20px no-repeat; */
    margin-top: 20px; 
    float: left;
    margin-left:20% ;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    color: black;
    
}
.nameshubham{
    position:relative;
    bottom: 30%;
    font-size: large;
    
    
}
.add{
    position: relative;
    bottom: 45%;
    font-style: normal;
}
.add::before{
    content:"ADD  :";
    color:black;
    font-weight: bold;
}
.emial::before{
    content:"E-MAIL : ";
    color:black;
    font-weight: bold;
}
.phone::before{
    content:" M  No.  : ";
    color:black;
    font-weight: bold;
}
.birth::before{
    content:"D.O.B. : ";
    color:black;
    font-weight: bold;
}
.emial{
    position: relative;
    bottom: 15%;
    
}
.phone{
    position: relative;
    bottom: 12%;
    
}
.birth{
    position: relative;
    bottom: 10%;
    
}
.SURAT{
    position: relative;
    bottom: 43%;
    left: 44px;
    
}
/* .barcode UL,h4{
    text-align: center;
    color: black;
    /* position: relative;
    bottom: 70px; */
    /* font-family: Arial, Helvetica, sans-serif;
    
*/ 
#principle{
    width: 100%;
    height: 20px;
    background:linear-gradient(
        55deg,rgb(231, 40, 231) 0%,
        rgb(167, 63, 167) 7%,
        white 7%,
        white 9%,
        purple 9%,
        purple 63%, white 63%,white 65%,rgb(222, 40, 222) 65%, rgb(180, 30, 180) 100%
    );
   
   /* clip-path: polygon(0% 15%,100% 0% , 100% 100%, 0% 100%); */
   
   color: white;
   

    
   
}
#principle p{
    text-align:right;
    position:relative;
    right: 25px;
    font-family: Arial, Helvetica, sans-serif;
    top:3px;
   

    
}
/* .bottom-strip{
    height: 20px;
    background: linear-gradient(to buttom,purple 0%, purple 30%);

} */
.title{
    height:100px;
    width: 90px;
    border: 1px solid black;
    background-image:url(mypic.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 10px;

}
.details{
    height: 70px;
    width: 70px;
    
    background-image:url(barcode.gif) ;
    background-size: cover;
    margin-top: 10px;
    margin-left: 10px;

}
H6{
    text-align: center;
    position:fixed;
    left:140px;
    TOP:290px;   
}
h5{
    font-size: 12px;
    margin-left:5%;
    margin-top: 2px;
}
@media (max-width:480px) {
    .container{
        width: 100vw;
            height: 50vh; 
    }
    #principle{
        width:77vw;
    }
    .barcode{
        width: 76vw;
        margin-left: 21%;
    }
    #upper{
        gap:0%;
       

    }
    .photo{
        width: 370px;
        transform: translateX(12px);
    }
    .logo{
        padding: 40px
    }
}
