*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Segoe UI', sans-serif;
}

body{
    background:#0f172a;
    color:white;
    scroll-behavior:smooth;
}

.container{
    width:85%;
    margin:auto;
}

nav{
    background:#111827;
    padding:15px 0;
    position:sticky;
    top:0;
    z-index:1000;
}

.nav-container{
    display:flex;
    justify-content:space-between;
    align-items:center;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin-left:20px;
}

nav ul li a{
    text-decoration:none;
    color:white;
    transition:0.3s;
}

nav ul li a:hover{
    color:#38bdf8;
}

.hero{
    height:100vh;
    display:flex;
    align-items:center;
    text-align:center;
    background:linear-gradient(135deg,#1e3a8a,#9333ea);
}

.hero h1{
    font-size:48px;
}

.hero span{
    color:#facc15;
}

.btn{
    display:inline-block;
    padding:12px 25px;
    margin-top:20px;
    background:#facc15;
    color:black;
    text-decoration:none;
    border-radius:30px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:white;
}

.section{
    padding:80px 0;
    text-align:center;
}

.dark{
    background:#1e293b;
}

.skills-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
    gap:20px;
    margin-top:30px;
}

.skill{
    background:#334155;
    padding:20px;
    border-radius:10px;
    transition:0.3s;
}

.skill:hover{
    transform:translateY(-5px);
    background:#38bdf8;
}

.project{
    background:#334155;
    padding:20px;
    margin:20px 0;
    border-radius:10px;
    transition:0.3s;
}

.project:hover{
    transform:scale(1.03);
    background:#9333ea;
}

form{
    display:flex;
    flex-direction:column;
    gap:15px;
    margin-top:20px;
}

form input, form textarea{
    padding:12px;
    border:none;
    border-radius:8px;
}

.social{
    margin-top:20px;
}

.social a{
    color:white;
    font-size:24px;
    margin:0 10px;
    transition:0.3s;
}

.social a:hover{
    color:#facc15;
}

footer{
    background:#111827;
    padding:20px;
    text-align:center;
}

@media(max-width:768px){
    nav ul{
        flex-direction:column;
        text-align:center;
    }
    nav ul li{
        margin:10px 0;
    }
}
.hero-container{
    display:flex;
    align-items:center;
    justify-content:space-between;
    flex-wrap:wrap;
}

.hero-text{
    flex:1;
}

.hero-image{
    flex:1;
    text-align:center;
}

.hero-image img{
    width:300px;
    height:300px;
    object-fit:cover;
    border-radius:50%;
    border:5px solid #facc15;
    box-shadow:0 0 40px rgba(250,204,21,0.6);
    transition:0.4s;
}

.hero-image img:hover{
    transform:scale(1.05);
}

@media(max-width:768px){
    .hero-container{
        flex-direction:column;
        text-align:center;
    }

    .hero-image img{
        width:220px;
        height:220px;
        margin-top:20px;
    }
}